$header__color: #fcfcfc;
$second__color: #06c3a7;
$text__colorPrimary: #5a7681;
$text__colorSecond: #353a3e;
$btn__hover: #09a78f;

.cards__tittle {
  margin-top: 72px;
  h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: $text__colorSecond;
    max-width: 450px;
    margin-bottom: 8px;
    span {
      color: $second__color;
    }
  }
  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    max-width: 350px;
    color: $text__colorPrimary;
    margin-bottom: 32px;
  }
}


.card{
    width: 280px;
    padding: 28px;
    background: #fff;
    box-shadow: 0px 17px 35px rgba(222, 229, 231, 0.25);
    .card__icon{
        cursor: pointer;
        background: #648DFE;
        width: 50px;
        height: 50px;
        border-radius: 8px;
        margin-bottom: 28px;
    }
    h3{
        font-size: 18px;
        color: $text__colorSecond;
        font-weight: 600;
        margin-bottom: 6px;
    }
    p{
        font-size: 16px;
        color: $text__colorPrimary;
        font-weight: 400;
        margin-bottom: 34px;
    }
    button{
        cursor: pointer;
        display: flex;
        align-items: center;
        border: none;
        padding: 12px 12px;
        border-radius:25px;
        background: transparent;
        font-weight: 400;
        font-size: 16px;
        color:$second__color;
        transition: all ease-in-out 200ms;
        &:hover{
            background: #F1EDED;
        }
        img{
            margin-left:20px;
        }
        
    }
}
.cards__btn {
    cursor: pointer;
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    width: 130px;
    .btn__back,.btn__next{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 1px solid $second__color;
        transition: all ease-in-out 200ms;
        &:hover{
            background: #BCE9E2;
        }
    }

}
