$header__color: #fcfcfc;
$second__color: #06c3a7;
$text__colorPrimary: #5a7681;
$text__colorSecond: #353a3e;
$btn__hover: #09a78f;

.search {
  display: flex;
  justify-content: center;
}

.search__input {
  background: #fff;
  box-shadow: 0px 17px 35px rgba(217, 199, 199, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 80px;
  width: 900px;
  margin-top: -60px;
  .input__style {
    display: flex;
    flex-direction: column;
    width: 500px;

    label {
      font-size: 16px;
      line-height: 30px;
      color: $text__colorPrimary;
    }
    input {
      border: none;
      outline: none;
      height: 32px;
      margin-top: 8px;
      padding: 0 8px;
      border-bottom: 1px solid $text__colorSecond;
      font-size: 18px;
      color: $text__colorPrimary;
      &::placeholder {
        color: #b2bbc4;
      }
    }
  }
  .input__btn {
    button {
      cursor: pointer;
      border: none;
      font-size: 16px;
      padding: 16px 32px;
      color: white;
      background: $second__color;
      box-shadow: 7px 4px 16px -3px rgba(20, 121, 103, 0.25);
      transition: all ease-in-out 300ms;
      &:hover {
        background: $btn__hover;
      }
      img {
        margin-left: 16px;
      }
    }
  }
}
