
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #FCFCFC;;
    font-family: 'Poppins', sans-serif; 
}

.mwfix {
    max-width: 1336px;
    margin: 0 auto;
}

@media screen and (max-width: 1440px){
	.mwfix {
        max-width: 1200px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1088px){
    .mwfix {
        max-width: 746px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 746px) {
	.mwfix {
        max-width: 610px;
        margin: 0 auto;
    }
}

// components
@import 'header';
@import 'search';
@import 'card';



